/* style.css */
body {
    margin: 0;
    padding: 0;
    
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #0d0d0d; /* 黒 */
    color: #c9a96a; /* 金 */
    line-height: 1.7;
    
}

/* ===== コンテナ（中央寄せ） ===== */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

/* ===== ヘッダー ===== */
header {
    background-color: #0f2a1f; /* 深緑 */
    color: #e5e5e5; /* 白 */
    padding: 15px 0;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ロゴ */
.logo {
    margin: 0 40px;
}

.logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border: 2px solid #c9a96a;
    border-radius: 50%;
    color:c9a96a;
    text-decoration: none;
    font-size: 2px;
}

/* ナビ */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    color: #e5e5e5;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    opacity: 0.7;
}

/* ===== 見出し ===== */
h1, h2, h3 {
    color: #ffd700; /* 少し明るい金 */
    margin-bottom: 10px;
}

/* ===== セクション ===== */
section {
    margin: 60px 0;
}

/* ===== ボタン ===== */
.btn {
    display: inline-block;
    background-color: #d4af37; /* 金 */
    color: #000000; /* 黒文字 */
    padding: 12px 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #ffd700;
}

/* ===== カード（サービスなど） ===== */
.card {
    background-color: #111111;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #d4af37;
    margin-bottom: 20px;
}

/* ===== フッター ===== */
footer {
    background-color: #111111;
    color: #aaaaaa;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

/* ===== レスポンシブ ===== */
@media (max-width: 768px) {

    header .container {
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .container {
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }
}
